
    <footer class="d-flex flex-wrap justify-content-between  py-3 border-top" style="background-color: rgb(107, 19, 189);background-size: cover; height: 20%;">
      <div class="col-md-9 d-flex align-items-center">
        <a href="/" class=" text-muted text-decoration-none">
          <img src="\images\PHOENIX.png" alt="company logo" style="width: 100px; height: 75px; padding-left: 10%;;">
        </a>
        <span class="mb-3 mb-md-0" style="color: white; padding-left: 45%;">© 2023 PHOENIX E-MART, Inc.</span>
      </div>
      <ul class="nav col-md-3 justify-content-end justify-content-center py-5 list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><img src="\images\twitter.png" alt="twitterlogo" style="width: 30px;height: 30px;"></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><img src="\images\instagram.png" alt="instalogo" style="width: 30px;height: 30px;"></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><img src="\images\facebook.png" alt="fblogo" style="width: 30px;height: 30px;"></a></li>
      </ul>
    </div>
    </footer>
  