<link href="\CSS\footer_wave.css" rel="stylesheet" type="text/css" />
<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="socials">
    <li>
      <a href=""><img class="socials_img" src="\images\instagram.png" alt="instagramlogo" /></a>
    </li>
    <li>
      <a href=""><img class="socials_img" src="\images\twitter.png" alt="twitterlogo" /></a>
    </li>
    <li>
      <a href=""><img class="socials_img" src="\images\facebook.png" alt="facebooklogo" /></a>
    </li>
    <li>
      <a href=""><img class="socials_img" src="\images\linkedin.png" alt="linkedinlogo" /></a>
    </li>
  </ul>

  <ul class="phoenix">
    <li><a href="">Home</a></li>
    <li><a href="">About Us</a></li>
    <li><a href="">Contact Us</a></li>
  </ul>
  <div>
    <img class="logo_img" src="\images\PHOENIX.png" alt="Brand Logo" />
    © 2023 PHOENIX E-MART, Inc.
  </div>
</footer>
