<div class="offer-list container-md">
    <div>
        Name of the buyer:- ABC XYZ <br>
        Amount:- edfgtrdcvb
    </div>
    <div class="accept-button">
        <input type="button" class="btn btn-success" value="Accept offer">
    </div>
    
</div>