<div class="offer-list container-md">
    <div>
        Querier's Name :- ABC XYZ <br>
        Query :- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, quia at. Enim impedit similique aliquid!
    </div>
</div>