<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/aboutUs.css">
</head>
<body>
    <div class="container">
    <div class="homeIcon"><a href="/"><i class="fas fa-home" class="homehover"></i></a></div>
       <div class="logo-flex">
            <div>
            <a class="aboutUs-twitter" href=""><i class="fa-brands fa-twitter" style='font-size: 36px; padding-bottom: 23px;'></i></a>
             </div>
             <div>
                <a class="aboutUs-instagram" href=""><i class="fa-brands fa-instagram" style='font-size: 36px; padding-bottom: 23px; color: rgb(219, 72, 153);'></i></a>
             </div>
             <div>
                <a class="aboutUs-gmail" href=""><i class="fas fa-envelope" style='font-size: 36px; color: black; '></i></a>
             </div>   
        </div>      
    <div class="heading">
        <h1>About Us</h1>
        <p>some tag line or some sentence here about our website</p>
    </div>
    <section class="about-us">
        <img src="/images/aboutusimg.jpg" alt="img">
        <div class="content">
           <h2>Experience</h2>
           <p>jsdge
            eethieroihgwtthbw
            4 4op6jwphbw
            tbh q joi jwrghyjrhyj otyh tryjwrhy wrh
             wrh yrhyh  h5y hio;eht h et ;ihewioehrtw5ih6  

             w  
             yyhiwhuwietrherith erth htu et;w weioth; weht.
           </p> 
        </div>
    </section>
    <section class="about-us2">
        <div class="content2">
            <h2>Team</h2>
            <p>jsdge
             eethieroihgwtthbw
             4 4op6jwphbw
             tbh q joi jwrghyjrhyj otyh tryjwrhy wrh
              wrh yrhyh  h5y hio;eht h et ;ihewioehrtw5ih6  
 
              w  
              yyhiwhuwietrherith erth htu et;w weioth; weht.
            </p> 
            <button class="read-more-btn">Read More</button>
         </div>
        <img src="/images/aboutusimg.jpg" alt="img">
    </section>

</div>
</body>

</html>