<html>
    <head>
      <link rel="icon" type="image/x-icon" href="/images/logo.png">
        <title>PHOENIX E-mart - Help</title>
        <link rel="icon" type="image/x-icon" href="logo.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/CSS/navbar.css">
        <link rel="stylesheet" href="/CSS/help.css">

    </head>
    <!-- <img src="/images/background-help.png" width="100%" style="position:fixed; z-index: -1;"> -->
    <%- include('partials/navbar'); -%>
    <body style="background-color: rgba(213, 220, 220, 0.692);">
      
<div class="container" style="border-radius: 20px; padding-left: 40px; padding-right: 40px; background-color: rgb(240, 245, 245);">
      <div class="help-header" style="width: 70%;">
        <h2 style="color: rgb(79, 79, 79); padding-top: 40px; ">HI, WE ARE HERE TO HELP YOU !</h2>
        <!-- <h4 style="padding-top: 10px; padding-bottom: 10px;">Please, select the category</h4> -->
      </div>

      <div class="" style="margin: 30px;">
       
          <div class="category-block1">
            <i class="fa fa-user" style="font-size: 60px ;color: rgb(107, 19, 189)"></i>
            <div class="category-title" style=" padding-top: 20px;">SELLER FAQS</div>
          </div>
          <div class="category-block2">
            <i class="fa fa-user" style="font-size: 60px ; color: rgb(107, 19, 189)"></i>
            <div class="category-title" style=" padding-top: 20px;">BUYER FAQS</div>
          </div>
        

          <div class="category-block3">
            <i class="fa fa-question-circle" style="font-size: 60px ;color: rgb(107, 19, 189)"></i>
            <div class="category-title" style=" padding-top: 20px;">GENERAL QUERIES</div>
          </div>
          <div class="category-block4">
            <i class="fa fa-info-circle" style="font-size: 60px ;color: rgb(107, 19, 189)"></i>
            <div class="category-title" style=" padding-top: 20px;">LEGAL INFORMATION</div>
          </div>
       

      </div>
      <hr style="margin-top: 40px;">
      <div class="query-box" style="background-color:#e1e6f3;">

        <br>
      
        <div class="help-header" style="width: 70%;">
          <h2 style="color: black; font-size: 23px;">Couldn't find what you are looking for?</h2>
          <!-- <h4 style="padding-top: 10px; padding-bottom: 10px;">Please, select the category</h4> -->
        </div>
        <form action="/help/<%= user %>" method="post">
          <label for="query" style="color: rgb(53, 53, 53);font-size: 18px; margin-left: 10px;">Contact us</label><br>
          <div class="text-back">
            <textarea name="query" id="query" cols="30" rows="10" class="query" placeholder="Enter your concern here.."></textarea>
            <img src="\images\fsd-product\help.jpg" class="help-img" width=""alt="imdfhft">
          </div>
          <br>
          <button type="submit" class="sbtbtnq" style="margin-left: 10px; margin-bottom: 40px; margin-top: 10px; ">Submit</button>
        </form>
      </div>
      <br>
    </div>
    </body>
    <br>
    <br>
    <br>
        <%- include('partials/footer'); -%>
</html>