<HTML>

<head>
    <title>PHOENIX E-mart</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/CSS/HomeStyles.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
</head>

<body>

    <div class="upper-nav">
        <nav class="navbar navbar-expand-sm  navbar-light">
            <ul class="navbar-nav">
                <li class="nav-brand"><a href="/"><img src="/images/PHOENIX - Copy.png" height="50"></a></li>
                <li class="nav-item"><a class="nav-search" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-search" href="/AboutUs">About Us</a></li>
                <li class="nav-item"><a class="nav-search" href="/ContactUs">Contact Us</a></li>
            </ul>
        </nav>
    </div>

    <div class="signup">
        <a class="nav-log" href="/sign-in">Login</a>
        <a class="nav-log" style="margin-left: 10px;" href="/sign-up">Sign Up</a>
    </div>

    <div class="container">
        <div class="catcon">
            <a href="/electronics"><div class="electronics"  class="categories">
                <img class="catimg" src="/images/electronicscat.png" alt="elecimg">
                <h6>Electronics</h6>
            </div></a>
            <a href="/automobiles"><div class="automobiles" class="categories">
                <img class="catimg" src="/images/automobiles.png" alt="autoimg">   
                <h6>Automobiles</h6>            
            </div></a>
            <a href="/fashion"><div class="fashion" class="categories">
                <img class="catimg" src="/images/fashioncat.png" alt="fashionimg">
                <h6>Fashion</h6>
            </div></a>
            <a href="/furniture"><div class="furniture" class="categories">
                <img class="catimg" src="/images/furniture.png" alt="furimg">
                <h6>Furniture</h6>
            </div></a>
            <a href="stationary"><div class="stationary" class="categories">
                <img class="catimg" src="/images/book.png" alt="bookimg">
                <h6>Books & Stationary</h6>
            </div></a>
        </div>
    </div>

    <div class="bg">
        <!-- <img src="/images/bg.jpeg" alt="baground image" width="100%"> -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/ele_app.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/vehicle.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/fashion.png" class="d-block w-100" alt="...">
              </div>
            </div>
          </div> 
    </div>


    <div class="head">
        <div class="Search">
            <div class="search-item">
                <i class="fas fa-search"></i>
                <input class="products" type="text" placeholder="Search for products">
            </div>
            <div class="search-item">
                <i class="fas fa-map-marker-alt"></i>
                <input class="Location" type="text" placeholder="Location">
            </div>

        </div>
    </div>
    <div class="recom">
       <h3>Recommended Products :- </h3>
    </div>

    <div class="cards">
            <div class="card box" style="width: 18rem;">
                <img src="/images/productImage.jpeg" class="card-img-top" alt="productImage">
                <div class="card-body">
                    <h5 class="card-title">product1</h5>
                    <p class="card-text" style="color: rgb(0, 0, 255);">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/Product/product1" class="btn btn-primary">More Info</a>
                </div>
            </div>
    
            <div class="card box" style="width: 18rem;">
                <img src="/images/productImage.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"style="color:  rgb(0, 0, 255);">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/Product" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <div class="card box" style="width: 18rem;">
                <img src="/images/productImage.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"style="color:  rgb(0, 0, 255);">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/Product" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <div class="card box" style="width: 18rem;">
                <img src="/images/productImage.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"style="color:  rgb(0, 0, 255);">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/Product" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <div class="card box" style="width: 18rem;">
                <img src="/images/productImage.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"style="color:  rgb(0, 0, 255);">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/Product" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <div class="card box" style="width: 18rem;">
                <img src="/images/productImage.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"style="color:  rgb(0, 0, 255);">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/Product" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <div class="card box" style="width: 18rem;">
                <img src="/images/productImage.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"style="color:  rgb(0, 0, 255);">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/Product" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <div class="card box" style="width: 18rem;">
                <img src="/images/productImage.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"style="color:  rgb(0, 0, 255);">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/Product" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    

</body>

<%- include('partials/footer'); -%>

</HTML>