    <html>

    <head>
        <title>Product title</title>
        <link rel="icon" type="image/x-icon" href="logo.png">


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/CSS/HomeStyles.css">
    </head>

    <%- include('partials/navbar'); -%>

    <body>

        <div class="after-float">
            <div class="title">

                ss
            </div>
            <div class="image">

            </div>
            <div class="price-overview">
                sds
            </div>

            <div class="desc">
                fsf
            </div>

            <div class="related-ads">
                aaaS
            </div>
        </div>

    </body>

    <%- include('partials/footer'); -%>
    
    </html>