<html>
    <head>
        <title>Product title</title>
        <link rel="icon" type="image/x-icon" href="logo.png">
        
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="CSS/styles.css">
    </head>
    <body>
        <div class="fixed-nav">
      
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href=""><img src="PHOENIX - Copy.png" height="50"></a>
                
                 
                    <div class="nav-product-search">   <div class="borderforsearch">
                        <div class="Search">
                            <div class="search-item">
                                <i class="fas fa-search"></i>
                                <input class= "products" type="text" placeholder="Search for products">
                               </div>
                        <div class="search-item">
                            <i class="fas fa-map-marker-alt"></i>
                            <input class="Location" type="text" placeholder="Location" >
                         </div>
                         
                         </div>
                         </div>
                       
                    </div>    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="product-navbar-collapse">
                        <ul class="navbar-nav">
                           
                            
                            <li class="nav-item"><a class="nav-search" href="" >Home</a></li>
                            <li class="nav-item"><a class="nav-search" href="" >About Us</a></li>
                            <li class="nav-item"><a class="nav-search" href="" >Contact Us</a></li>
                            <li class="nav-item"><a class="nav-search" href="" >Sign Up</a></li>
                        </ul>   
            </nav>
            <hr >
        </div>


        <div class="after-float">
            <div class="title">
               
ss
            </div>
            <div class="image">

            </div>
            <div class="price-overview">
sds
            </div>
        
            <div class="desc">
fsf
            </div>
            
            <div class="related-ads">
aaaS
            </div>
        </div>
   
    
    

    


    

    </body>
</html>