<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/CSS/RemoveUser.css">
</head>

<body>
    <div class="Remove-block">
        <div class="container">
            <h3>Remove User</h3>
            <hr>
            <form action="" class="Remove-form">
                <div class="mb-3">
                    <label for="Uname" class="form-label">User Name</label>
                    <input type="email" class="form-control" id="uname" placeholder="Enter User Name">
                </div>
                <div class="mb-3">
                    <label for="reason" class="form-label">Reason for removal</label>
                    <textarea class="form-control" id="reason" rows="3"></textarea>
                </div>
                <button class="btn btn-secondary">Remove</button>
            </form>
        </div>
    </div>
</body>

</html>