<%- include('partials/navbar'); -%>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Addresses</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
</head>

<body >
<div class="container">
    <div class="Add-List">
        <h2 style="padding-top: 15px; padding-bottom: 10px;">Saved Addresses</h2><hr>
        <div class="addresses-list">
            <h3>Address-1</h3>
            addressline-1 <br>
            addressline-2
        </div>
        <div class="addresses-list">
            <h3>Address-2</h3>
            addressline-1 <br>
            addressline-2
        </div>
        <div class="addresses-list">
            <h3>Address-3</h3>
            addressline-1 <br>
            addressline-2
        </div>
    </div>

    <div class="address">
        <textarea name="new address" id="" cols="30" rows="5"class="addresses-inp" placeholder="new address"></textarea>
        <button class="add-btn">+</button>
    </div>
</div>
</body>


</html>

<%- include('partials/footer'); -%>