<%- include('partials/navbar'); -%>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Addresses</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body >
<div class="container">
    <div class="Add-List">
        <div class="addresses-list container-md">
            <h3>Address-1</h3>
            addressline-1 <br>
            addressline-2
        </div>
        <div class="addresses-list container-md">
            <h3>Address-2</h3>
            addressline-1 <br>
            addressline-2
        </div>
        <div class="addresses-list container-md">
            <h3>Address-3</h3>
            addressline-1 <br>
            addressline-2
        </div>
    </div>

    <div class="address">
        <textarea name="new address" id="" cols="30" rows="5"class="addresses-inp" placeholder="new address"></textarea>
        <button class="add-btn">+</button>
    </div>
</div>
</body>


</html>

<%- include('partials/footer'); -%>