<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/CSS/Sell.css">
</head>
<body>

    <div> 
        <nav class="navbar navbar-expand-sm  navbar-light">
            <ul class="navbar-nav">
                <li class="nav-brand"><a href=""><img src="/images/PHOENIX - Copy.png" height="50"></a></li>
                
                <li class="nav-item"><a class="nav-search" href="" >Home</a></li>
                <li class="nav-item"><a class="nav-search" href="" >About Us</a></li>
                <li class="nav-item"><a class="nav-search" href="" >Contact Us</a></li>  
            </ul>
        </nav> 
        <div class="signup">
          <a class="nav-search" href="" >Sign Up</a>
      </div> 
      </div>

      <div>
        <img style="position: absolute; left: 50px; bottom:70px" src="/images/dollar.png" height="200px">
        <img style="position: absolute; top:70px; right: 0;" src="/images/dollar.png" height="200px">
        <img style="position: absolute; left: 300px;" src="/images/dollar.png" height="200px">
        <img style="position: absolute; right: 320px; bottom: 70px;" src="/images/dollar.png" height="200px">
      </div>
    
        <div class="row">
            
            <div class="colm-form">
                <div class="form-container">

                    <div>
                        <p style="font-size: 30px;"> Choose your category</p><hr>
                    </div>
                    <div class="colone">
                    <div class="dropdown show">

                        
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Electronics
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">TVs, Video - Audio</a>
                          <a class="dropdown-item"href="#">Kitchen & Other Appliances</a>
                          <a class="dropdown-item"href="#">Computers & Laptops</a>
        <a class="dropdown-item" href="#">Cameras & Lenses</a>
        <a class="dropdown-item" href="#">Games & Entertainment</a>
        <a class="dropdown-item" href="#">Fridges</a>
        <a class="dropdown-item" href="#">Computer Accessories</a>
        <a class="dropdown-item" href="#">Hard Disks, Printers & Monitors</a>
        <a class="dropdown-item" href="#">ACs</a>
        <a class="dropdown-item" href="#">Washing Machines</a>
                        </div>
                      </div>
                      <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Mobiles
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Mobile Phones</a>
      <a class="dropdown-item" href="#">Accessories</a>
      <a class="dropdown-item" href="#">Tablets</a>
                        </div>
                      </div>
                      <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Furniture
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Sofa & Dining</a>
                          <a class="dropdown-item" href="#">Beds & Wardrobes</a>
                          <a class="dropdown-item" href="#">Home Decor & Garden</a>
                          <a class="dropdown-item" href="#">Kids Furniture</a>
                          <a class="dropdown-item" href="#">Other Household Items</a>
                        </div>
                      </div>
                      </div>


                      <div class="coltwo">
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Fashion
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">Men </a>
        <a class="dropdown-item" href="#">Women</a>
        <a class="dropdown-item" href="#">Kids</a>
                            </div>
                          </div>
                          <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Commercial vehicles & Cars
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">Commercial Vehicles</a>
       <a class="dropdown-item" href="#">Cars</a>
                            </div>
                          </div>
                          <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Bikes & Two wheelers
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a href="#">Bikes</a>
                            </div>
                          </div>

                          
                          </div>

                </div>
                
            </div>
</div>
    <script src="javas.js"></script>
    
</body>
</html>