/* About Us */
body{
    background-color:#ffffff;
}
.homeIcon{
    margin-left:20px;
    margin-top: 17px;
    color: #ffffff;
}
.homeIcon i{
    font-size: 30px;
    transition: 900ms;
}

.homeIcon i:hover{
    color: rgb(255, 0, 255);
    transform: scale(1.3);
    cursor: pointer;
}
.aboutUs-twitter i:hover{
    transform: rotate(-30deg);
 }
 .aboutUs-instagram i:hover{
    transform: scale(1.3);
 }
 .aboutUs-gmail i:hover{
    transform:scale(1.3);
 }
.logo-flex{
    display: flex;
    position: absolute;
    right:20px;
    top: 17px;
}
.logo-flex i{
    margin-left: 25px;
}

.top-div{
    background-color:rgb(139, 43, 230);
    padding-bottom: 50px;
    padding-top: 10px;
}
.heading{
    text-align: center;
    margin-top: 20px;
}
.heading h1{
    font-size: 50px;
    color: #fcfcfc;
    margin-bottom: 10px;
}
.heading p{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 50px;
}
.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.about-us2{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 300px;
    width: 85%;
    padding-top: 8rem;
    padding-bottom: 50px;
    margin: auto;
}
.about-us img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
}
.about-us2 img{
    flex: 0 50%;
    max-width: 50%;
    /* height: 120%; */
}
.content{
    padding: 35px;
}
.content2{
    padding: 35px;
    padding-right: 200px;
}
.content h2{
    color: #ffffff;
    font-size: 24px;
    margin: 15px 0px;
}
.content2 h2{
    color: #400056;
    font-size: 30px;
    margin: 15px 0px;
}
.content p{
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}
.content2 p{
    color: #171616;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}
.read-more-btn{
    display: inline-block;
    color: rgb(235, 234, 234);
    background-color: rgb(255, 140, 0);
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 200ms ease;
}
.read-more-btn:hover{
    background-color: rgb(255, 197, 126);
}
.about-us img{
    border-radius: 10px;

}
.about-us2 img{
    border-radius: 10px;

}

@media(max-width:786px){
    .about-us{
        flex-direction: column;
    }
    .about-us img{
        flex: 0 100%;
        max-width: 100%;
        border-radius: 20px;
    }
    .content{
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;
    }
}

li{
    line-height: 2em;
    font-size: larger;
    font-weight:400;
}
.btm-div{
    height: 600px;
    width: 100%;
    background-color:rgb(111, 20, 197) ;
}
.btm-div img{
    border-radius: 3px;
}
.btmdiv-img-1{
    margin-top: 3px;
    position: relative;
    max-width: 66.6667%;
    height: 380px;
    width: 100%;
}
.btmdiv-img-2{
    margin-top: 3px;
    position: relative;
    width: 32.899%;
    height: 380px;
}
.btmdiv-img-3{
    margin-top: 3px;
    position: relative;
    width: 20%;
    height: 210px;
}
.btmdiv-img-4{
    margin-top: 3px;
    position: relative;
    width: 20%;
    height: 210px;
}
.btmdiv-img-5{
    margin-top: 3px;
    position: relative;
    width: 19%;
    height: 210px;
}
.btmdiv-img-6{
    margin-top: 3px;
    position: relative;
    width: 19%;
    height: 210px;
}
.btmdiv-img-7{
    margin-top: 3px;
    position: relative;
    width: 290px;
    height: 210px;
}