.fixed-nav {
    background-image: linear-gradient(45deg, rgb(181, 18, 164), rgb(223, 167, 62));
    /* background-color: white; */
    position: sticky;
    width: 100vw;
}

.nav-product-search {
    text-decoration: none;
    padding-left: 40px;
    font-size: 20;
    color: #400056;
    margin-right: 7%;
}

.borderforsearch {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.search {
    display: flex;
    width: 55vw;
    height: 3.5vw;
    align-items: center;
    border-radius: 5px;
    background: white;
    border-color: black;
    border-width: 5px;
    padding: 5px 4px;

}

.search .search-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search .search-item p {
    color: grey;
    border-right: 1px solid gray;
    font-size: 15px;
    margin-right: 10px;
    margin: 10px;
}

.search .search-item input {
    outline: none;
    border: none;
    width: 100%;
    padding-right: 10px;
    font-size: 15px;
}

.search .search-item:first-child {
    width: 70%;
    color: rgb(236, 118, 137);
}

.search .search-item:last-child {
    width: 30%;
    color: gray;
}

.products {

    padding-left: 10px;
}

.location {
    padding-left: 10px;
}

.nav-item:hover {
    transform: scale(1.04);

}

.nav-item {
    padding-top: 8px;
}

.nav-brand {
    padding-right: 1px;
}



.upper-nav {
    background-image: linear-gradient(45deg, rgb(181, 18, 164), rgb(223, 167, 62));
}

.nav-search {


    text-decoration: none;
    padding-left: 20px;
    font-size: 20;
    color: #400056;

}

.nav-product-search {
    text-decoration: none;
    padding-left: 40px;
    font-size: 20;
    color: #400056;
    margin-right: 7%;
}

.container {
    height: 100vh;
    margin-top: 3%;

}

.col {
    height: inherit;
    height: 90vh;
    margin: 2% 2%;
    border-left: 2px solid black;
    margin-left: 3%;
    padding-left: 3%;
}

.col-6 {
    height: inherit;
    height: 90vh;
    margin: 2% 2%;
    border: 5px solid black;
    border-radius: 8px;
}

#usercard {
    width: 30%;
    margin-left: 35rem;
    height: 80vh;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

.username {
    text-align: center;
    margin: 2%;
}

.username1 {
    text-align: center;
    margin: 5%;
}

.table {
    margin-top: 10%;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    display: flex;
    justify-items: center;
    margin-left: 20%;
    margin-top: 15%;
    padding-left: 20%;
    padding-right: 20%;
    border: 2px solid black
}

#details {
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-image: url("/images/bgimg.jpg");
}