* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dfceff;
}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 45vw;
    height: 100vh;
    margin: auto;
    margin-top: 50px;
    box-shadow: 10px;
    background-image: linear-gradient(45deg, #8a2be2, #a371d2);
}

.container {
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 2%
}

.row {
    flex-direction: row;
    margin: 10px;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 35vw;
}

.dropdown-item{
    color: white;
}

.container-cod {
    display: flex;
    flex-direction: row;
    width: 40vw;
}

.cod {
    margin-right: 5%;
}

.box2 {
    margin: 5px 10px;
    border: 1px solid black;
    height: 20vh;
    border-radius: 3px;
    width: 33vw;
    height: 25vh;
}

.row-fluid {
    margin: 5px 5px;
}

.col1 {
    display: inline-block;
    margin: 0 5px;
    width: 25vw;
}

.col2 {
    color: white;
    display: inline-block;
    flex-direction: row;
}