.bgImg{
    display: flex;
    justify-content: center;
}
body{
    background-color: black;
}
.taBtn{
    display: flex;
    justify-content: center;
}

.tryagain-one:hover {
    background-color: rgba(29,147,206,255);
    color: white;
}