.nav-search:hover {
    transform: scale(1.04);
    color: #400056;
}
.nav-item:hover {
    transform: scale(1.04);
    
}
.nav-item{
    padding-top: 8px;
}

.nav-search {
    
    
    text-decoration: none; 
    padding-left: 20px;
    font-size: 20;
    color: #400056;
      
}
/* .nav-product-search {
    text-decoration: none; 
    padding-left: 40px;
    font-size: 20;
    color: #400056;
    margin-right:7% ;
}


.bg {
    
    position: absolute;
    z-index: -1;
    
}
.signup {
    position: absolute;
    right:20px;
    top: 17px;

}
.signup a{
   font-size: medium;

}
.signup {
    position: absolute;
    right:20px;
    top: 17px;

}
.signup button{
    border-radius: 60px;
    background-color: #400056;
    color: #ecedef;
}
.signup:hover {
    transform: scale(1.04);

}
#backtotop {
    position: fixed;
    bottom:20px;
    right:20px;
   

}


.search{
    display: flex;
    width: 55vw;
    height: 3.5vw;
    align-items: center;
    border-radius: 5px;
    background:  white;
    border-color: black;
    border-width: 5px;
    padding: 5px 4px;
    
}
.borderforsearch {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
.search .search-item{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.search .search-item p{
    color: grey;
    font-size: 15px;
    margin-right: 10px;
    margin: 10px;
}

.search .search-item input{
    outline: none;
    border: none;
    width: 200%;
    padding-right: 10px;
    font-size: 15px;
}

.search .search-item:first-child{
    width: 55%;
    color: rgb(236, 118, 137);
}

.search .search-item:last-child{
    width: 45%;
    color: gray;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6vw;
    margin-bottom: 7vw;
    align-items: center;
}

.location {
    padding-left: 10px;
}

.fixed-nav{
    
    background-color: white;
    position: fixed;
    width: 100%;
} */


/* help */

.faqs-header {
    padding-bottom: 15px;
    font-size: 40px;
}

.help-heading {
    margin: 10px;
    font-size: 28;
}

.category-block1 {
    text-align: center;
    padding-top: 40px;

    width: 270px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 10px;
}
.category-block2{
    text-align: center;
    padding-top: 40px;

    width: 270px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 10px;
}
.category-block3 {
    text-align: center;
    padding-top: 40px;

    width: 270px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 10px;
}
.category-block4{
    text-align: center;
    padding-top: 40px;

    width: 270px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 10px;
}
.category-block1:hover {
    box-shadow: 0 1px 5px rgb(178, 178, 178, 0.8);

    cursor: pointer;
}
.category-block2:hover {
    box-shadow: 0 1px 5px rgb(178, 178, 178, 0.8);
    
    cursor: pointer;
}
.category-block3:hover {
    box-shadow: 0 1px 5px rgb(178, 178, 178, 0.8);
    
    cursor: pointer;
}
.category-block4:hover {
    box-shadow: 0 1px 5px rgb(178, 178, 178, 0.8);
    
    
    cursor: pointer;
}

.category-title {
    color: rgb(60, 60, 60);
    font-size: 25px;
}


.help-header {
    margin: 2%;
    margin-left: 12px;
    
    font-size: 20px;
   
}


/* contact us */

.bottom-container{
    background-color: #400056;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 10px;
  }

  .bottom-container a{
    color: aliceblue;
    text-decoration: none;}
.head h3{
    font-size: 1.9rem;
    color: #ecedef;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.search-container{
    padding-left: 1.5vw;
}
.container-top{
    padding-top: 5vm;
}
.container-top .search-field{
padding: 18px;
margin-top: 60px;
width: 42%;
height: 8vh;
}


/* ============== after adding locations=========== */

.search-item i{
    transition: all 0.3s;
}
.option{
    display: flex;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}
.option:hover{
    background-color:rgb(226, 207, 226);
}

.option p{
    /* margin-left: 10px; */
    color: #444444;
}

.option i{
    color: #839a9c;
}

.option_box{
    box-shadow: 0 0 10px grey;
    background-color: white;
    display: none;
    max-height: 250px;
    overflow-y: scroll;
    width: 250px;
}

.search-item i:hover{
    cursor: pointer;
}

.hidden{
    display: block;
}

.rotate{
    transform: rotate(180deg);
}



/* 
kjfbkdsfjgnlsdknh
*/

#root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.box {
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
}
.img-box {
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1000ms;
}
.images {
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2 {
    font-size: 20px;
    color: orangered;
}

.img-box:hover{
    cursor: pointer;
    transform: scale(1.3);
    
}




.query{
    border: 1px solid rgb(210, 210, 210);
    width: 40%;
    margin: 5%;
    margin-left: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    resize: none;
}

.query-box{
    margin-bottom: 10px;
    
}

.query:focus {
    border: none;
    outline-color: #e0dfdf
}

.sbtbtnq {
    color: rgb(107, 19, 189);
    background-color: white;
    border-radius:4px ;
    height: 40px;
    width: 130px;
    border: 1px solid rgb(107, 19, 189);
}

.sbtbtnq:hover {
    background-color: rgb(107, 19, 189);
    color: white;
}
   
  /* .fixed-nav{
      background-image: linear-gradient(45deg,rgb(181, 18, 164),rgb(223, 167, 62));
      /* background-color: white; 
      position: sticky;
      width: 100%;
   */
  .nav-product-search {
    text-decoration: none; 
    padding-left: 40px;
    font-size: 20;
    color: #400056;
    margin-right:7% ;
  }
  
  
  
  .search {
    display: flex;
    width: 45vw;
    height: 3.5vw;
    align-items: center;
    border-radius: 5px;
    background: white;
    border-color: black;
    border-width: 5px;
    padding: 5px 4px;
  
  }
  
  .search .search-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .search .search-item p {
    color: grey;
    border-right: 1px solid gray;
    font-size: 15px;
    margin-right: 10px;
    margin: 10px;
  }
  
  .search .search-item input {
    outline: none;
    border: none;
    width: 100%;
    padding-right: 10px;
    font-size: 15px;
  }
  
  .search .search-item:first-child {
    width: 70%;
    color: rgb(236, 118, 137);
  }
  
  .search .search-item:last-child {
    width: 30%;
    color: gray;
  }
  
  .products {
  
    padding-left: 10px;
  }
  
  .location {
    padding-left: 10px;
  }


  .nav-brand {
    padding-right: 1px;
  }

  .container{
    background-color: white;
  }
  
  .text-back{
    display: flex;
  }

  .help-img{
    width: 50%;
    height: 30%;
  }