.nav-search:hover {
    /* transform: scale(1.04); */
    color: #561500;
}

.nav-item:hover {
    /* transform: scale(1.04); */

}

.nav-item {
    padding-top: 8px;
}

.nav-brand {
    padding-right: 1px;

}

.nav-log {
    text-decoration: none;
    font-size: 20;
    color: rgb(111, 20, 197);
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
}

.nav-log:hover {
   
    color: #959595;
}

.upper-nav {
    /* background-image: linear-gradient(180deg, rgb(138, 12, 125), rgb(159, 24, 189)); */
    background-color: rgb(111, 20, 197);
}

.nav-search {

    text-decoration: none;
    font-size: 20;
    color:white;
    padding-left: 15px;

}
/* 
.nav-product-search {
    text-decoration: none;
    padding-left: 10px;
    font-size: 20;
    color: #400056;
    margin-right: 4%;
}

.bg {

    position: absolute;
    z-index: -1;
    width: 100%;
    height: 30%;
    background-color: #400056;

}




.userLogo {
    position: relative;
    left: 60%;
}

.search {
    display: flex;
    width: 55vw;
    height: 3.5vw;
    align-items: center;
    border-radius: 5px;
    background: white;
    border-color: 2px solid black;
    border-width: 5px;
    padding: 5px 4px;

}

.borderforsearch {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.search .search-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search .search-item p {
    color: grey;
    border-right: 1px solid gray;
    font-size: 15px;
    margin-right: 10px;
    margin: 10px;
}

.search .search-item input {
    outline: none;
    border: none;
    width: 200%;
    padding-right: 10px;
    font-size: 15px;
}

.search .search-item:first-child {
    width: 70%;
    color: rgb(236, 118, 137);
}

.search .search-item:last-child {
    width: 30%;
    color: gray;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6vw;
    margin-bottom: 7vw;
    align-items: center;
    
}

.fixed-nav {
    background-image: linear-gradient(45deg, rgb(181, 18, 164), rgb(223, 167, 62));
    background-color: white; 
    position: sticky;
    width: 100%;
} */

#logout-prompt{
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
}

.lbtn{
    position: relative;
    left: 80%;
}

.hidden{
    display: none;
}

.products {

    padding-left: 10px;
}

.recom {
    margin-top: 27%;
    padding-top: 1%;
    padding-left: 4%;
}

.box {

    margin-left: 4%;
    margin-bottom: 4%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-bottom: 4%;

}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.05);
}

.after-float {
    padding-top: 0px;
}

/* .title {

    margin: 10x;
    margin-left: 5%;
    display: block;
    height: 70px;
    width: 500px;
    background-color: black;
} */

.image {

    



}

.price-overview {
    margin: 1px;
    margin-left: 5%;
    position: inherit;
    display: inline-block;
    height: 100px;
    width: 40%;
    background-color: cadetblue;

}

.desc {
    margin: 10px;
    margin-left: 4%;
    margin-right: 5%;
    position: inherit;
    display: inline-block;
    height: 600px;
    width: 45%;
    /* background-color: black; */


}

.contact-map {
    margin: 10px;
    margin-left: 4%;
    margin-right: 5%;
    position: inherit;

    height: 600px;
    width: 45%;
}

.container {
    padding-top: 100px;
}

.help-heading {
    margin: 10px;
    font-size: 28;

}

/* temp */

.after-float {
    padding-top: 40px;
}
.title {
    
    margin: 10x;
    margin-left: 5%;
    display: block;
    height: 70px;
    width: 500px;
    
    border-radius: 10px;
    
}

#contactsellerbtn {
    display: flex;
    justify-content: center;
    background-color: #400056;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    width:90%;
}
#contactsellerbtn:hover {
    background-color: #856391;
   
}
#desccard {
    color: #616161;
    font-size: 30px;
}

#imagecard {
    box-shadow: 0 10px 30px rgba(203, 202, 202, 0.8);
    margin: 19px;
    text-align: center;
    margin-left: 5%;
    position: inherit;
    background-color: black;
    display: flex;
    object-fit: contain;
    height: 500px;
    width:90%;
    border-radius: 10px;
    

}

.title-location {
    color: #400056;
    padding-left: 5%;
}
.float-container {
    padding: 5%;
}

.float-child1 {
    box-shadow: 10px 10px 30px rgba(203, 202, 202, 0.8);
    display: block;
    border-radius: 10px;
    width: 27.5%;
    height: 500px;
    margin-right: 5%;
    float: left;
    padding: 20px;
    
} 
.float-child2 {
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(203, 202, 202, 0.8);
    display: block;
    width: 67.5%;
    float: left;
    height: 500px;
    padding: 20px;
    
} 

/* .image{
    

} */

#left-image-icon {
    position:relative;
    font-size: 40px;
    left: 0;
    margin-left: 2%;
    margin-top: 240px;
    color: white;
}
#right-image-icon {
    position: absolute;font-size: 40px;
    margin-right: 7%;
    margin-top: 240px;
    right: 0;

    color: white;
}

#left-image-icon:hover{
    color: rgb(208, 207, 207);
    cursor: pointer;
}
#right-image-icon:hover{
    color: rgb(208, 207, 207);
    cursor: pointer;
}
.box-relatedad {
    border-radius: 5px;
    margin-top: 1%;
    box-shadow: 10px 10px 30px #d044ff;
    margin-left: 4%;
    height: 200px;
    width: 20%;
    background-color: white;
    display: inline-block;

}
.row-relatedad {
    background-color: #d044ff93;
    margin-top: 2%;
    margin-bottom: 3%;
    padding-bottom: 2%;
   
}
.h3{
    padding-top: 20px;
    margin-left: 5%;
}


.contact-map {
    margin: 10px;
    margin-left: 4%;
    margin-right: 5%;
    position: inherit;
 
    height: 600px;
    width: 45%;
}

#titlecard {
    font-size: 30px;
    
}
#pricecard {
    color: #616161;
    font-weight: bold;
    font-size: 30px;
}
#selleroverviewcard {
    font-size: 17px;
    padding: px;
}