
.nav-item:hover {
    transform: scale(1.04);

}

.nav-item {
    padding-top: 8px;
}

.nav-brand {
    padding-right: 1px;

}

.offcanvas-body:hover{
    color: #d044ff;
}

.nav-log {
    text-decoration: none;
    font-size: 20;
    color: rgb(111, 20, 197);
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
}


.upper-nav {
    /* background-image: linear-gradient(180deg, rgb(138, 12, 125), rgb(159, 24, 189)); */
    background-color: rgb(111, 20, 197);
}

.nav-search {

    text-decoration: none;
    font-size: 20;
    color: white;
    padding-left: 15px;

}

.nav-search:hover{
    color:blue;
}

/* 
.nav-product-search {
    text-decoration: none;
    padding-left: 10px;
    font-size: 20;
    color: #400056;
    margin-right: 4%;
}

/*


.userLogo {
    position: relative;
    left: 60%;
}

.search {
    display: flex;
    width: 55vw;
    height: 3.5vw;
    align-items: center;
    border-radius: 5px;
    background: white;
    border-color: 2px solid black;
    border-width: 5px;
    padding: 5px 4px;

}

.borderforsearch {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.search .search-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search .search-item p {
    color: grey;
    border-right: 1px solid gray;
    font-size: 15px;
    margin-right: 10px;
    margin: 10px;
}

.search .search-item input {
    outline: none;
    border: none;
    width: 200%;
    padding-right: 10px;
    font-size: 15px;
}

.search .search-item:first-child {
    width: 70%;
    color: rgb(236, 118, 137);
}

.search .search-item:last-child {
    width: 30%;
    color: gray;
}
*/
.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
}




#logout-prompt {
    border: 1px solid rgb(69, 69, 69);
    
    background-color: white;
}

.lbtn {
    position: relative;
    left: 80%;
}

.hidden {
    display: none;
}

.products {

 padding-left: 1rem;
}

.Search{
    margin:0rem 1rem;
    
}
.search-item{
    width: 3rem;
}

.carousel {
    height: 35rem;
}

.imgtitle {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 35px;
    background-color: black;
    color: white;
}

.recom {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    padding-top: 1%;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(111, 20, 197);
    color: white;
    width: 98vw;
    padding-bottom: 1%;
}



.pdtprice{
    display: flex;
    color: #616161;
    align-items: center;
}

.pdtdesc{
    display: flex;
    padding-left: 2px;
    color:#747474;
}

.box {
    display: flex;
    margin-left:1rem;
    margin-bottom: 4%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-bottom: 4%;
    height: 17rem;
    width: 17rem;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid black;
    flex-wrap: wrap;
    margin: 1rem;
}

.box:hover {
    background-color: rgb(111, 20, 197);
}

.card-img-top {
    display: flex;
    justify-content: center;
    height: 10rem;
    border-radius: 3px;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    width: 70%;
}

.card-title{
    display: flex;

    color:rgb(0, 0, 0)
}

.price{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
    color: green;
}
.box:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.05);
}

.card:hover {
    box-shadow:rgba(184, 184, 184, 0.25) 0px 20px 20px;
}

.price-overview {
    margin: 1px;
    margin-left: 5%;
    position: inherit;
    display: inline-block;
    height: 100px;
    width: 40%;
    background-color: cadetblue;

}

.desc {
    margin: 10px;
    margin-left: 4%;
    margin-right: 5%;
    position: inherit;
    display: inline-block;
    height: 600px;
    width: 45%;
    /* background-color: black; */


}

.contact-map {
    margin: 10px;
    margin-left: 4%;
    margin-right: 5%;
    position: inherit;

    height: 600px;
    width: 45%;
}


/* 
.help-heading {
    font-size: 28;

} */

/* temp */

.after-float {
    padding-top: 40px;
}

.title {

    margin: 10x;
    margin-left: 5%;
    display: block;
    height: 70px;
    width: 500px;

    border-radius: 10px;

}

#contactsellerbtn {
    display: flex;
    justify-content: center;
    background-color: rgb(111, 20, 197);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin-top: 20px;
    width: 60%;
}

#contactsellerbtn:hover {

    cursor: pointer;
    background-color: rgb(190, 123, 253)

}

#desccard {
    color: #616161;
    font-size: 30px;
}



#imagecard {
    box-shadow: 0 10px 30px rgba(203, 202, 202, 0.8);
    margin: 19px;
    text-align: center;
    margin-left: 5%;
    position: inherit;
    background-color: black;
    display: flex;
    object-fit: contain;
    height: 500px;
    width: 90%;
    border-radius: 10px;


}

.title-location {
    color: #400056;
    padding-left: 5%;
}

.float-container {
    padding: 5%;
}

.float-child1 {
    box-shadow: 10px 10px 30px rgba(203, 202, 202, 0.8);
    display: block;
    border-radius: 10px;
    width: 27.5%;
    height: 550px;
    margin-right: 5%;
    float: left;
    padding: 20px;

}

.float-child2 {
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(203, 202, 202, 0.8);
    display: block;
    width: 67.5%;
    float: left;
    height: 550px;
    padding: 20px;
    word-spacing: 3px;

}

/* .image{
    

} */

#left-image-icon {
    position: relative;
    font-size: 40px;
    left: 0;
    margin-left: 2%;
    margin-top: 240px;
    color: white;
}

#right-image-icon {
    position: absolute;
    font-size: 40px;
    margin-right: 7%;
    margin-top: 240px;
    right: 0;

    color: white;
}

#left-image-icon:hover {
    color: rgb(208, 207, 207);
    cursor: pointer;
}

#right-image-icon:hover {
    color: rgb(208, 207, 207);
    cursor: pointer;
}

.box-relatedad {
    border-radius: 5px;
    margin-top: 1%;
    box-shadow: 10px 10px 30px #d044ff;
    margin-left: 4%;
    height: 200px;
    width: 20%;
    background-color: white;
    display: inline-block;

}

.row-relatedad {
    background-color: #d044ff93;
    margin-top: 2%;
    margin-bottom: 3%;
    padding-bottom: 2%;

}

.h3 {
    padding-top: 20px;
    margin-left: 5%;
}


.contact-map {
    margin: 10px;
    margin-left: 4%;
    margin-right: 5%;
    position: inherit;

    height: 600px;
    width: 45%;
}

#titlecard {
    font-size: 30px;

}

#pricecard {
    color: #616161;
    font-weight: bold;
    font-size: 30px;
}

#selleroverviewcard {
    font-size: 17px;
    padding: px;
}


.catcon {
    display: flex;
}

.container1 {
    height: 6rem;
    background-color: white;
    display: flex;
    text-align: center;
    padding-left: 10rem;
    z-index: +1;
    padding-top: 1rem;
    width: 98.5vw;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.catimg {
    height: 2.5rem;
    margin-top: 0.3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    position: inherit;
}

h6 {
    color: black;

}

h6:hover {
    color: rgb(183, 58, 255);
}


body {
    background-color: rgba(241, 243, 246, 0.701);
    height: 100vh;
}

/* after search */

.sort-product{
    background-color: #ffffff;
    height: 10rem;
    margin: 1rem 0rem;
    display: flex;
    width: 95vw;
    margin-left: 2rem;
    border-radius: 5px;
    border: 2px solid rgb(202, 202, 202);
}
.sort-product img{
    width: 11rem;
    height: 8rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.pdtdetails{
    width: 60vw;
    margin-top: 1rem;
}

.detailsbtn{
    width: 20rem;
    margin-top: 4rem;
    display: inline-block;
}

.pdtelem{
    width: 100%;
    display: flex;
}