body{
    /* background-image: url("/images/bgimg.jpg"); */
    background: #dfceff;
}
.Remove-block{
    height: 70vh;
    width: 60vh;
    border-radius: 15PX;
    text-align: center;
    padding: 4%;
    background-image: linear-gradient(45deg, #8a2be2, #a371d2);
    margin: auto;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.top{
  
    padding-top: 2rem;
    background-color: white;
    text-align: center;
    padding-bottom: 2rem;
    background-color: #8a2be2;
    justify-self: center;
    
}

.title{
  background-color: #8a2be2;

    padding: 1rem 0rem;
}
#warning{
    background-color: red;
    font-size: 155%;
    margin: 0% 5%;
    line-height: 3rem;
    border-radius: 15px;
    padding: 4%;
  }

  .btn{
    
    color: white;
  }

  .d-flex{
    margin-left: 24vw;
  }

  .userlist{
    background-color: white;
    width: 80vw;
    padding: 2rem;
    margin-left: 9rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 1px solid rgb(192, 192, 192);
  }

  .container-md{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    
  }

  .userdetails{
    display: flex;
    width: 50vw;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .removebutton{
    display: flex;
    justify-content: center;
    width: 25vw;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #removebutton{
    border-radius: 8px;
  }

  #removebutton:hover{
    background-color: rgb(255, 0, 0);
    color: white;
  }

  

  .insideprompt{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .lbtn{
    position: inherit;
    margin-left: 98%;
    align-items: flex-end;
  }

  #searchBtn:hover {
    background-color: #bb73ff;
  }
  .btn-outline-danger{
    margin-left: 29rem;
    margin-bottom: 1rem;
  }

  .hidden{
    display: none;
    
  }

  .username{
    display: flex;
    margin-bottom: 1rem;
  }

  .reason{
    display: flex;
    justify-content:space-between;
    margin-bottom: 1rem;
  }

  

  .container{
    height: 100vh;
  }