.nav-search:hover {
    transform: scale(1.04);
    color: #400056;
}

.nav-item:hover {
    transform: scale(1.04);

}

.nav-item {
    padding-top: 8px;
}

.nav-brand {
    padding-right: 1px;

}

.upper-nav {
    background-image: linear-gradient(45deg, rgb(181, 18, 164), rgb(223, 167, 62));
}

.nav-search {

    text-decoration: none;
    font-size: 20;
    color: #400056;
    padding-left: 15px;

}

.nav-product-search {
    text-decoration: none;
    padding-left: 10px;
    font-size: 20;
    color: #400056;
    margin-right: 4%;
}

.bg {

    position: absolute;
    z-index: -1;
    width: 100%;

}

.signup {
    position: absolute;
    right: 20px;
    top: 17px;

}

.userLogo {
    position: relative;
    left: 60%;
}

.signup:hover {
    transform: scale(1.04);

}

.search {
    display: flex;
    width: 45vw;
    height: 3.5vw;
    align-items: center;
    border-radius: 5px;
    background: white;
    border-color: black;
    border-width: 5px;
    padding: 5px 4px;

}

.borderforsearch {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.search .search-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search .search-item p {
    color: grey;
    border-right: 1px solid gray;
    font-size: 15px;
    margin-right: 10px;
    margin: 10px;
}

.search .search-item input {
    outline: none;
    border: none;
    width: 200%;
    padding-right: 10px;
    font-size: 15px;
}

.search .search-item:first-child {
    width: 70%;
    color: rgb(236, 118, 137);
}

.search .search-item:last-child {
    width: 30%;
    color: gray;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6vw;
    margin-bottom: 7vw;
    align-items: center;
}

/* .fixed-nav {
    background-image: linear-gradient(45deg, rgb(181, 18, 164), rgb(223, 167, 62));
    /* background-color: white; 
    position: sticky;
    width: 100%;
} */

.colone {
    margin-right: 40px;
    margin-left: 10px;
    display: inline-block;

}

.coltwo {

    display: inline-block;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.colm-form {
    flex: 0 0 50%;
    text-align: center;
}



.colm-form .form-container {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    width: 700px;
    height: 500px;
}

#dropdownMenuLink3 {
    padding-top: 10px;
    height: 50px;
    width: 250px;
    background-color: #400056;
    margin: 10px;
    margin-bottom: 20px;
    
}
#dropdownMenuLink1 {
    
    padding-top: 10px;
    height: 50px;
    width: 250px;
    background-color: #400056;
    margin: 10px;
    margin-bottom: 20px;
}
#dropdownMenuLink2 {
    padding-top: 10px;
    height: 50px;
    width: 250px;
    background-color: #400056;
    margin: 10px;
    margin-bottom: 20px;
}
#dropdownMenuLink4 {
    padding-top: 10px;
    height: 50px;
    width: 250px;
    background-color: #400056;
    margin: 10px;
    margin-bottom: 20px;
}
#dropdownMenuLink5 {
    padding-top: 10px;
    height: 50px;
    width: 250px;
    background-color: #400056;
    margin: 10px;
    margin-bottom: 20px;
}
#dropdownMenuLink6 {
    padding-top: 10px;
    height: 50px;
    width: 250px;
    background-color: #400056;
    margin: 10px;
    margin-bottom: 20px;
}