/* /* body{
  background-image: url("/images/background.jpeg");
  background-size: cover;
} */
 


.nav-product-search {
  text-decoration: none; 
  padding-left: 40px;
  font-size: 20;
  color: #400056;
  margin-right:7% ;
}

.borderforsearch {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.search {
  display: flex;
  width: 45vw;
  height: 3.5vw;
  align-items: center;
  border-radius: 5px;
  background: white;
  border-color: black;
  border-width: 5px;
  padding: 5px 4px;

}

.search .search-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search .search-item p {
  color: grey;
  border-right: 1px solid gray;
  font-size: 15px;
  margin-right: 10px;
  margin: 10px;
}

.search .search-item input {
  outline: none;
  border: none;
  width: 100%;
  padding-right: 10px;
  font-size: 15px;
}

.search .search-item:first-child {
  width: 70%;
  color: rgb(236, 118, 137);
}

.search .search-item:last-child {
  width: 30%;
  color: gray;
}

.products {

  padding-left: 10px;
}

.location {
  padding-left: 10px;
}

.nav-item:hover {
  transform: scale(1.04);

}

.nav-item {
  padding-top: 8px;
}

.nav-brand {
  padding-right: 1px;
}

.upper-nav {
  /* background-image: linear-gradient(45deg, rgb(181, 18, 164), rgb(223, 167, 62)); */
  background-color: rgb(112, 18, 199);
}

.nav-search {

  text-decoration: none;
  padding-left: 20px;
  font-size: 20;
  color: #400056;

}

.nav-product-search {
  text-decoration: none;
  padding-left: 40px;
  font-size: 20;
  color: #400056;
  margin-right: 5%;
}


#login-div{
  width: 40%;
  background-color: rgb(228, 192, 238);
  box-shadow: 10px 10px 5px rgb(47, 5, 62);
  margin: auto;
  margin-top: 15%;
  margin-bottom: 18%;
  border-radius: 10px;
}

.userLogo{
  position: relative;
  left: 90%;
  padding-bottom: 2%;
}



#login-form{
  text-align: center;
}

.login-creds{
  border-radius: 10px;
  width: 60%;
  margin: auto;
}

.hidden{
  display: none;
}

.d-flex{
  position: relative;
  right: 0%;
}

.product-catagories{
  text-align: center;
  background-color: blueviolet;
  margin:5px;
}



.addresses-list{
  color: rgb(79, 79, 79);
  border: 1px solid rgb(205, 205, 205);
  background-color: rgb(239, 238, 238);
  margin-top: 1rem;
  display: block;
  height: 200px;
  padding: 1rem;
  border-radius: 10px;
  
}

.addresses-inp{
  width: 85%;
  
}

.addaddr {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #878686;
}

.addflat {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #878686;
}

.addstreet {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #878686;

}

.addlandmark {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #878686;
}

.addcity {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #878686;

}


.add-btn{
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  background-color: rgb(112, 18, 199);
  border-radius: 200px;
}

.offer-list{
  display: flex;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 25px #bdbdbd;
}


.container{
  margin-bottom: 20px;
}
.product-text{
  padding-top: 20px;
}

.accept-button{
  display: inline-block;
  width: 20rem;
  /* padding-left: 60%; */
  /* left: 80%; */
}
  