body{
  background-image: url("/images/background.jpeg");
}
 
.fixed-nav{
    background-image: linear-gradient(45deg,rgb(181, 18, 164),rgb(223, 167, 62));
    /* background-color: white; */
    position: sticky;
    width: 100%;
}

.nav-product-search {
  text-decoration: none; 
  padding-left: 40px;
  font-size: 20;
  color: #400056;
  margin-right:7% ;
}

.borderforsearch {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.search {
  display: flex;
  width: 45vw;
  height: 3.5vw;
  align-items: center;
  border-radius: 5px;
  background: white;
  border-color: black;
  border-width: 5px;
  padding: 5px 4px;

}

.search .search-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search .search-item p {
  color: grey;
  border-right: 1px solid gray;
  font-size: 15px;
  margin-right: 10px;
  margin: 10px;
}

.search .search-item input {
  outline: none;
  border: none;
  width: 100%;
  padding-right: 10px;
  font-size: 15px;
}

.search .search-item:first-child {
  width: 70%;
  color: rgb(236, 118, 137);
}

.search .search-item:last-child {
  width: 30%;
  color: gray;
}

.products {

  padding-left: 10px;
}

.location {
  padding-left: 10px;
}

.nav-item:hover {
  transform: scale(1.04);

}

.nav-item {
  padding-top: 8px;
}

.nav-brand {
  padding-right: 1px;
}



.upper-nav {
  background-image: linear-gradient(45deg, rgb(181, 18, 164), rgb(223, 167, 62));
}

.nav-search {


  text-decoration: none;
  padding-left: 20px;
  font-size: 20;
  color: #400056;

}

.nav-product-search {
  text-decoration: none;
  padding-left: 40px;
  font-size: 20;
  color: #400056;
  margin-right: 5%;
}


#login-div{
  width: 40%;
  background-color: rgb(228, 192, 238);
  box-shadow: 10px 10px 5px rgb(47, 5, 62);
  margin: auto;
  margin-top: 15%;
  margin-bottom: 18%;
  border-radius: 10px;
}

.userLogo{
  position: relative;
  left: 90%;
  padding-bottom: 2%;
}

h3{
  text-align: center;
}

#login-form{
  text-align: center;
}

.login-creds{
  border-radius: 10px;
  width: 60%;
  margin: auto;
}

.hidden{
  display: none;
}

.container-fluid{
   background-image: linear-gradient(90deg,rgb(242, 113, 22),rgb(168, 50, 101));
}

.d-flex{
  position: relative;
  right: 0%;
}

.product-catagories{
  text-align: center;
  background-color: blueviolet;
  margin:5px;
}

.offer-list{
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
  
}

.offer-list:hover{
  box-shadow: 10px 5px rgb(56, 3, 56);
}

.addresses-list{
  color: aliceblue;
  background-image:linear-gradient(45deg,rgb(95, 13, 139),rgb(234, 135, 36));
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  
}

.addresses-list:hover{
  box-shadow: 10px 5px rgb(56, 3, 56);
  background-image:linear-gradient(45deg,rgb(104, 50, 136),rgb(233, 162, 91));
}

.addresses-inp{
  width: 85%;
  margin: 5%;
}

.add-btn{
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  background-color: #400056;
  border-radius: 200px;
}


.accept-button{
  width: 10%;
  padding-left: 72%;
  /* left: 80%; */
}
 
